# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on boot

    # Set init values of the ThundeRStorm Kernel

    # CPU set at max/min freq
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2080000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1586000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 416000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 338000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 650000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 728000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "25000 650000:30000 1066000:45000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "65000 728000:30000 1248000:40000 1560000:45000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 60000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 60000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 98
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 98
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 25000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 40000
    write /sys/kernel/hmp/up_threshold 700
    write /sys/kernel/hmp/down_threshold 256

    # GPU set at max/min freq
    write /sys/devices/14ac0000.mali/max_clock 650
    write /sys/devices/14ac0000.mali/min_clock 112
    write /sys/devices/14ac0000.mali/highspeed_clock 338
    write /sys/devices/14ac0000.mali/highspeed_delay 2
    write /sys/devices/14ac0000.mali/highspeed_load 98
    write /sys/devices/14ac0000.mali/throttling1 546
    write /sys/devices/14ac0000.mali/throttling2 419
    write /sys/devices/14ac0000.mali/throttling3 338
    write /sys/devices/14ac0000.mali/throttling4 260
    write /sys/devices/14ac0000.mali/trippimg 260

    # I/O sched settings
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/sda/queue/iostats 0
    write /sys/block/mmcblk0/queue/iostats 0

    # Wakelock settigs
    write /sys/module/wakeup/parameters/enable_sensorhub_wl 0
    write /sys/module/wakeup/parameters/enable_ssp_wl 0
    write /sys/module/wakeup/parameters/enable_bcmdhd4359_wl 0
    write /sys/module/wakeup/parameters/enable_bluedroid_timer_wl 0
    write /sys/module/wakeup/parameters/enable_wlan_wake_wl 0
    write /sys/module/sec_battery/parameters/wl_polling 2
    write /sys/module/sec_nfc/parameters/wl_nfc 1

    # Misc settings
    write /sys/kernel/sched/arch_power 1
    write /proc/sys/net/ipv4/tcp_congestion_control cubic
    write /sys/module/sync/parameters/fsync_enabled 0
    write /sys/kernel/dyn_fsync/Dyn_fsync_active 0
    write /sys/kernel/sched/gentle_fair_sleepers 0
    write /sys/kernel/power_suspend/power_suspend_mode 3

    # LMK
    write /sys/module/lowmemorykiller/parameters/minfree "17920,23552,32256,42472,65536,102400"
    


